/* The button styles came from varbase tour css. Thank you! */

/* Button Style */
.joyride-tip-guide .joyride-next-tip {
  margin: 0;
}
.joyride-timer-indicator-wrap {
  border: solid 1px rgba(255, 255, 255, 0.1);
}
.joyride-timer-indicator {
  background: rgba(255, 255, 255, 0.25);
}

.joyride-close-tip {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4em;
  font-weight: bold;
}
.joyride-close-tip:hover,
.joyride-close-tip:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.joyride-modal-bg {
  background: rgba(0, 0, 0, 0.5);
}

.joyride-expose-wrapper {
  background-color: #fff;
}

.joyride-expose-cover {
  background: transparent;
}

.joyride-tip-guide {
  z-index: 10000;
}
.joyride-tip-guide.tip-tour-switch {
  top: 35px !important;
  right: 35px !important;
  left: auto !important;
}
.joyride-tip-guide.tip-tour-switch .joyride-nub {
  left: auto;
  right: 28px;
}
.joyride-tip-guide .button {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  /* 1 */
  text-align: center;
  line-height: normal;
  /* 2 */
  cursor: pointer;
  -webkit-appearance: none;
  /* 3 */
  -moz-appearance: none;
  /* 3 */
  padding: 4px 1.5em;
  /* 4 */
  border: 1px solid #a6a6a6;
  border-radius: 0;
  background-color: #f2f1eb;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  /* 6 */
}
.joyride-tip-guide .button:hover,
.joyride-tip-guide .button:focus {
  background-color: #f9f8f6;
  background-image: -webkit-linear-gradient(top, #fcfcfa, #e9e9dd);
  background-image: linear-gradient(to bottom, #fcfcfa, #e9e9dd);
  color: #1a1a1a;
  text-decoration: none;
  outline: none;
}
.joyride-tip-guide .button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
}
.joyride-tip-guide .button:focus {
  z-index: 10;
  border: 1px solid #3ab2ff;
  box-shadow: 0 0 0.5em 0.1em rgba(51, 177, 255, 0.7);
}
.joyride-tip-guide .button:active {
  border: 1px solid #a6a6a6;
  background-color: #dfdfd9;
  background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: none;
  transition: none;
}
.joyride-tip-guide .button--primary {
  border-color: #1e5c90;
  background-color: #0071b8;
  background-image: -webkit-linear-gradient(top, #007bc6, #0071b8);
  background-image: linear-gradient(to bottom, #007bc6, #0071b8);
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
.joyride-tip-guide .button--primary:hover,
.joyride-tip-guide .button--primary:focus {
  background-color: #2369a6;
  background-image: -webkit-linear-gradient(top, #0c97ed, #1f86c7);
  background-image: linear-gradient(to bottom, #0c97ed, #1f86c7);
  border-color: #0071b8;
  color: #fff;
}
.joyride-tip-guide .button--primary:focus {
  border: 1px solid #1280df;
}
.joyride-tip-guide .button--primary:hover {
  box-shadow: 0 1px 2px rgba(23, 26, 28, 0.25);
}
.joyride-tip-guide .button--primary:active {
  background-image: -webkit-linear-gradient(top, #08639b, #0071b8);
  background-image: linear-gradient(to bottom, #08639b, #0071b8);
  border-color: #144b78;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.joyride-tip-guide h2,
.joyride-tip-guide .heading-b {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.385em;
}
[dir="rtl"] body .joyride-tip-guide.tip-tour-switch {
  top: 35px !important;
  left: 135px !important;
  right: auto !important;
}
[dir="rtl"] body .joyride-tip-guide .joyride-nub {
  left: 28px;
  right: auto;
}
