{#
/**
 * @file
 * Default theme implementation for a two column layout.
 *
 * This template provides a two column display layout with full width areas at
 * the top, bottom and in the middle.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */


#}
{% set classes = [
  'layout',
  'layout--twocol-tabbed-bricks',
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top %}
      <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top') }}>
        {{ content.top }}
      </div>
    {% endif %}
    <div class="tabbable-panel">
      <ul class="nav nav-tabs">
        {% for label in tab_labels %}
          {% if loop.index == 1 %}
            <li class="tab-pane active">
              <a href="#tab_default_{{ loop.index }}"
                 data-toggle="tab">{{ label }}</a>
            </li>
          {% else %}
            <li class="tab-pane">
              <a href="#tab_default_{{ loop.index }}"
                 data-toggle="tab">{{ label }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_default_1">
          <div class="pane-content">
            {% if content.tab_1_top %}
              <div {{ region_attributes.tab_1_top.addClass('layout__region', 'layout__region--top') }}>
                {{ content.tab_1_top }}
              </div>
            {% endif %}
            {% if content.tab_1_first_above %}
              <div {{ region_attributes.tab_1_first_above.addClass('layout__region', 'layout__region--first-above') }}>
                {{ content.tab_1_first_above }}
              </div>
            {% endif %}
            {% if content.tab_1_second_above %}
              <div {{ region_attributes.tab_1_second_above.addClass('layout__region', 'layout__region--second-above') }}>
                {{ content.tab_1_second_above }}
              </div>
            {% endif %}
            {% if content.tab_1_middle %}
              <div {{ region_attributes.tab_1_middle.addClass('layout__region', 'layout__region--middle') }}>
                {{ content.tab_1_middle }}
              </div>
            {% endif %}
            {% if content.tab_1_first_below %}
              <div {{ region_attributes.tab_2_first_below.addClass('layout__region', 'layout__region--first-below') }}>
                {{ content.tab_1_first_below }}
              </div>
            {% endif %}
            {% if content.tab_1_second_below %}
              <div {{ region_attributes.tab_2_second_below.addClass('layout__region', 'layout__region--second-below') }}>
                {{ content.tab_1_second_below }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="tab-pane" id="tab_default_2">
          <div class="pane-content">
            {% if content.tab_2_top %}
              <div {{ region_attributes.tab_2_top.addClass('layout__region', 'layout__region--top') }}>
                {{ content.tab_2_top }}
              </div>
            {% endif %}
            {% if content.tab_2_first_above %}
              <div {{ region_attributes.tab_2_first_above.addClass('layout__region', 'layout__region--first-above') }}>
                {{ content.tab_2_first_above }}
              </div>
            {% endif %}
            {% if content.tab_2_second_above %}
              <div {{ region_attributes.tab_2_second_above.addClass('layout__region', 'layout__region--second-above') }}>
                {{ content.tab_2_second_above }}
              </div>
            {% endif %}

            {% if content.tab_2_middle %}
              <div {{ region_attributes.tab_2_middle.addClass('layout__region', 'layout__region--middle') }}>
                {{ content.tab_2_middle }}
              </div>
            {% endif %}

            {% if content.tab_2_first_below %}
              <div {{ region_attributes.tab_2_first_below.addClass('layout__region', 'layout__region--first-below') }}>
                {{ content.tab_2_first_below }}
              </div>
            {% endif %}

            {% if content.tab_2_second_below %}
              <div {{ region_attributes.tab_2_second_bottom.addClass('layout__region', 'layout__region--second-below') }}>
                {{ content.tab_2_second_below }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if content.bottom %}
        <div {{ region_attributes.bottom.addClass('layout__region', 'layout__region--bottom') }}>
          {{ content.bottom }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
